@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
    -webkit-tap-highlight-color: transparent;
}